<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><%= t('emails.users.confirm.title', name: @user.name) %></h1>
    <p><%= t('emails.users.confirm.content', url: confirm_url(token: @user.confirm_token, redirect_to: @redirect_url)) %></p>
  </body>
</html>
